@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #ffffff;
  --second-color: #daa520;
  --main-background-color: #181f24;
  --second-background-color: #1e2124;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  font-size: calc(18px + 1 * (100vw / 1400));
  font-weight: 400;
  background-color: var(--main-background-color);
  color: var(--main-color);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5385%;
  background-color: var(--main-background-color);
}


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.538%;
}
.nav-list ul li {
  height: 100px;
}
.nav-item {
  padding: 1.538% 0;
}
.nav-list li:not(:last-child) {
  margin-right: 4%;
}
.nav-list li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 80%;
  font-size: calc(16px + 1 * (100vw / 1400));
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}
.nav-list li a:hover {
  color: var(--second-color);
  transition: 0.6s;
}
.nav-list li a::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 0;
  height: 3px;
  background-color: var(--second-color);
  transition: all 0.6s ease-in-out;
}
.nav-list li:hover a::after {
  width: 100%;
}
.main {
  padding-top: 100px;
}
#profile {
  position: relative;
  width: 100%;
  padding-top: 120px; 
  margin: 0 auto;
  background: var(--second-background-color);
}
.profile-wrapper {
  display: flex;
  justify-content: space-around;
  height: 72vh;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav{
  width: 100%;
}
.english,
.russian{
  width: 40px;
  height: 40px;
  border: none;
  color:var(--main-color);
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
.english.active,
.russian.active{
  color: var(--second-color);

}
.profile-info {
  width: 50%;
}
h1 {
  font-size: calc(18px + 16 * (100vw / 1400));
  font-weight: 900;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 30px;
}
h2,
.lng-profile-name {
  font-size: calc(18px + 16 * (100vw / 1400));
  color: var(--second-color);
  margin-bottom: 30px;
}
h2.lng-profile-title {
  color: var(--main-color);
}
.lng-profile-name {
  letter-spacing: 2px;
  color: var(--second-color);
}
.lng-profile-description {
  line-height: calc(18px + 12 * (100vw / 1400));
  margin-bottom: 50px;
}
.profile-image {
  position: relative;
}
.profile-image::before {
  display: block;
  clear: both;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: 230px;
  height: 240px;
  background-color: var(--second-color);
  border-radius: 50%;
}
.profile-avatar {
  position: relative;
  z-index: 2;
  width: 230px;
  height: 240px;
  margin-bottom: 50px;
  border-radius: 50%;
  margin-right: 50px;
}
.lng-profile-download {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--second-color);
}
.lng-profile-download a {
  font-size: calc(14px + 1 *(100vw / 1400));
  font-weight: 600;
  color: var(--main-color);
}
.lng-profile-download:hover {
  background-image: linear-gradient(
    to right,
    rgba(24, 31, 36, 0.7) 0%,
    rgba(255, 192, 0, 0.9) 55%,
    rgba(255, 234, 0, 0.8) 100%
  );
  background-size: 200% auto;
  background-position: right center;
  transition: all 0.8s ease;
  border: none;
}
#contacts,
#education,
#english,
#projects,
#factsaboutme {
  margin-bottom: 80px;
}
#contacts {
  position: relative;
}
#contacts::before {
  content: "";
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(180deg, #1e2124 5%, #181f24 100%);
  transform: translate(0px, -100%);
}
.contact-text {
  display: block;
  font-weight: 600;
  font-size: calc(18px + 6 * (100vw / 1400));
  color: var(--main-color);
  margin-bottom: 30px;
}
.contact-text:hover {
  cursor: pointer;
  color: var(--second-color);
  transition: 0.6s ease-in-out;
}
.education-container {
  display: flex;
  flex-direction: column;
}
.education-item {
  display: flex;
  /* flex:content;
  flex-wrap: wrap; */
  /* height: 60px; */
  margin-bottom: 30px;
  position: relative;
}
.line{
  position: relative;
}
.education-item:hover .line::before{
  width: 40%;
  transition: all 0.8s ease;
  cursor: pointer;
}
.education-item .line::before {
  display: block;
  clear: both;
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 10%;
  height: 3px;
  background-color: var(--second-color);
}
.lng-education-date,
.lng-education-specialize {
  width: 35%;
  /* margin-right: 50px; */
}
.english-container {
  display: flex;
}
.lng-english-text {
  margin-bottom: 30px;
}
.english-scale {
  width: 55%;
  height: 50px;
}
.english-loader {
  display: block;
  position: relative;
  width: 55%;
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.english-loader.finish {
  -webkit-animation: percentScale 4s ease-in 1;
  animation: percentScale 4s ease-in 1;

  background-image: linear-gradient(
    to right,
    rgba(24, 31, 36, 0.7) 0%,
    rgba(255, 192, 0, 0.9) 75%,
    rgba(218, 202, 18, 0.8) 100%
  );
  border-radius: 8px;
}
.percent {
  font-size: calc(18px + 6 * (100vw / 1400));
  font-weight: 700;
  letter-spacing: 3px;
}

@keyframes percentScale {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.projects-slider {
  overflow: hidden;
  position: relative;
}
.projects-container {
  position: relative;
  left: 0;
  transition: 0.6s;
  width: calc(100% * 4);
  display: flex;
}
.project-item {
  display: flex;
  justify-content: space-between;
  width: 19%;
  /* height: 250px; */
  margin: 0 auto 40px;
  padding: 0px 20px 0px 0px;
  background-color: #2d3033;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1s ease-in;
}
.project-item:hover img {
  opacity: 1;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transform: scale(1.1);
  transition: transform 0.6s ease;
}
.project-item:hover .project-link a {
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgba(24, 31, 36, 0.7) 0%,
    rgba(255, 192, 0, 0.9) 55%,
    rgba(255, 234, 0, 0.8) 100%
  );
  background-size: 200% auto;
  background-position: right center;
  transition: all 0.8s ease;
  color: rgba(24, 31, 36, 0.7);
}
.project-image {
  width: 420px;
  /* height: 250px; */
}
.project-image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.project-description {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 10px;
  width: 55%;
}
.project-title {
  margin-bottom: 20px;
  color: var(--second-color);
  letter-spacing: 3px;
  text-transform: uppercase;
}
.project-stack {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: right;
  color: #6d7479;
}
.lng-project-text {
  /* width: 500px; */
  margin-bottom: 30px;
  font-size: 16px;
  text-align: right;
}
.project-link {
  display: flex;
}
.project-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #474f55;
  color: var(--main-color);
}
.project-link a:first-child {
  margin-right: 30px;
}
.projects-view-slide {
  display: flex;
  justify-content: center;
}
.projects-view-slide .view-slide:not(:last-child){
  margin-right: 50px;
}
.view-slide {
  width: 50px;
  height: 3px;
  background-color: #6d7479;
  
}
.view-slide.active {
  background-color: var(--second-color);
}

.projects-control.projects-control-prev,
.projects-control.projects-control-next {
  position: absolute;
  top: 45%;
  right: 90%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
}
.projects-control.projects-control-next{
 left: 90%;
}
.projects-control.projects-control-next:hover,
.projects-control.projects-control-prev:hover{
  cursor: pointer;
  background-color: #6d7479;
  transition: 0.3s ease-in-out;
}
.projects-control-prev::before,
.projects-control-next::after
 {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/arrow.svg");
  background-size: 100% 100%;
  
}
.projects-control-prev::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/arrow.svg");
  background-size: 100% 100%;
  transform: rotate(180deg);
}
.facts-container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;
}
.facts-item {
  width: 90%;
  height: 120px;
  border-radius: 10px;
  background-color: var(--second-color);
  text-align: left;
  padding: 10px;
  -moz-box-shadow: 0px 0px 14px #344552;
  -webkit-box-shadow: 0px 0px 14px #344552;
  box-shadow: 0px 0px 14px #344552;
}
.facts-item:hover{
  cursor: pointer;
  -moz-box-shadow: 0px 0px 14px #fce701;
  -webkit-box-shadow: 0px 0px 14px #fce701;
  box-shadow: 0px 0px 14px #fce701;
  transition: all 0.6s ease-in-out;
}
.facts-item:hover h3,
.facts-item:hover h4
{
  margin-left: 30px;
  transition: 0.6s ease-in-out;
}
h3{
  font-size: calc(18px + 20 *((100vw / 1400)));
  color:var(--second-background-color);
  margin-bottom: 10px;
}
h4{
  font-weight: 400;
}
.footer{
  height: 75px;
}
.footer-container,
.footer-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ico {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 30px;
}
.ico.ico-linkedin{
  background-image: url("../assets/svg/linkedin.svg");
}
.ico.ico-github{
  background-image: url("../assets/svg/github.svg");
}
.ico.ico-telegram{
  background-image: url("../assets/svg/telegram.svg");
}
.ico.ico-github:hover,
.ico.ico-linkedin:hover,
.ico.ico-telegram:hover{
  -moz-box-shadow: 0px 0px 14px #fce701;
  -webkit-box-shadow: 0px 0px 14px #fce701;
  box-shadow: 0px 0px 14px #fce701;
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  cursor: pointer;
}
.buttonToTop{
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 5;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--second-color);
  border: none;
  color: var(--main-color);
  -moz-box-shadow: 0px 0px 14px #fce701;
  -webkit-box-shadow: 0px 0px 14px #fce701;
  box-shadow: 0px 0px 14px #fce701;
  cursor: pointer;
}
.buttonToTop:hover{
  transform: scale(1.1);
  -moz-box-shadow: 0px 0px 14px #344552;
  -webkit-box-shadow: 0px 0px 14px #344552;
  box-shadow: 0px 0px 14px #344552;
  transition: all 0.4s ease-in-out;
}

.burger-menu{
  display: none;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  cursor: pointer;
}
.burger-menu::before,
.burger-menu::after{
  position: absolute;
  top: 0;
  left: 10px;
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--second-color);
  transition: top 0.1s 0.2s ease, bottom 0.1s 0.2s ease, transform 0.1s ease;
}
.burger-menu::after{
  top:20px;
}
.burger-menu.active{
  display: block;
  position: relative;
  z-index: 2;
}
.burger-menu.active::before{
  top: 20px;
  transform: rotate(45deg);
  transition: top 0.3s ease, transform 0.3s 0.3s ease;
}
.burger-menu.active::after{
  bottom: 20px;
  transform: rotate(-45deg);
  transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
}
.burger-menu-wrapper{
  display: flex;
  justify-content: flex-end;
}
.burger-line{
  position: absolute;
  top: 20%;
  left: 10px;
  width: 40px;
  height: 3px;
  background-color: var(--second-color);
}
.burger-line.active{
  display: none;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  background-color: var(--main-background-color);
  transform: translateX(100%);
  transition: transform 0.5s 0.5s ease-in-out, background 0.6s ease-in-out;
  overflow: auto;
}
.nav-mobile.active {
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
}
.nav-mobile .nav-mobile-item:nth-child(1),
.nav-mobile.active .nav-mobile-item:nth-child(1) {
  transition-delay: 0.1s;
}
.nav-mobile .nav-mobile-item:nth-child(2),
.nav-mobile.active .nav-mobile-item:nth-child(2)  {
  transition-delay: 0.125s;
}
.nav-mobile .nav-mobile-item:nth-child(3),
.nav-mobile.active .nav-mobile-item:nth-child(3)  {
  transition-delay: 0.15s;
}
.nav-mobile .nav-mobile-item:nth-child(4),
.nav-mobile.active .nav-mobile-item:nth-child(4) {
  transition-delay: 0.175s;
}
.nav-mobile .nav-mobile-item:nth-child(5),
.nav-mobile.active .nav-mobile-item:nth-child(5) {
  transition-delay: 0.2s;
}
.nav-mobile .nav-mobile-item:nth-child(6),
.nav-mobile.active .nav-mobile-item:nth-child(6)  {
  transition-delay: 0.225s;
}

.nav-mobile.active .nav-mobile-item {
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}
.nav-mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nav-mobile-item {
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
.nav-mobile-list .nav-mobile-item .nav-mobile-link {
  display: block;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--second-color)
}
.nav-mobile-list .nav-mobile-item .nav-mobile-link:hover {
  -moz-text-shadow: 0px 2px 14px #fce701;
  -webkit-text-shadow: 0px 2px 14px #fce701;
  text-shadow: 0px 2px 14px #fce701;
  transition: all 0.6s;
}

