@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color:#ffffff;
  --second-color:#daa520;
  --main-background-color:#181f24;
  --second-background-color:#1e2124;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  background-color: var(--main-background-color) ;
  color: var(--main-color);
}
.container {
  width: 1300px;
  margin: 0 auto;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--main-background-color);
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.nav-list ul li {
  height: 75px;
}
.nav-list li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 80%;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}
.nav-list li a:hover{
  color: var(--second-color);
  transition: 0.6s;
}
.nav-list li a::after{
 content: "";
 display: block;
 clear: both;
 position: absolute;
 bottom: 0;
 left: 15px;
 width: 0;
 height: 3px;
 background-color: var(--second-color);
 transition: all 0.6s ease-in-out;
}
.nav-list li:hover a::after{
  width: 80%;
}
.main{
  padding-top: 100px;
}
#profile{
  position: relative;
  width: 100%;
  padding-top: 150px;
  margin: 0px auto;
  background: var(--second-background-color);
}
.profile-wrapper{
  display: flex;
  justify-content: space-around;
  height: 72vh;
}
.profile-info {
  width: 50%;
}
h1 {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--second-color);
  margin-bottom: 30px;
}
h2,
.profile-name {
  font-size: 32px;
  color:var(--second-color);
  margin-bottom: 30px;
}
h2.profile-title{
  color: var(--main-color);
}
.profile-name{
  letter-spacing: 2px;
  color: var(--second-color);
}
.profile-description{
  line-height: 30px;
}
.profile-image{
  position: relative;
}
.profile-image:after {
  display: block;
  clear: both;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: 230px;
  height: 240px;
  background-color: var(--second-color);
  border-radius: 50%;
}
.profile-avatar {
  position: relative;
  z-index: 2;
  width: 230px;
  height: 240px;
  margin-bottom: 100px;
  border-radius: 50%;
}
.profile-download{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin-left: 40px;
  border-radius: 10px;
  border: 2px solid var(--second-color)
}
.profile-download a{
  font-weight: 600;
  color:var(--main-color)
}
.profile-download:hover{
  background-image: linear-gradient(
    to right,
    rgba(24, 31, 36, 0.7) 0%,
    rgba(255, 192, 0, 0.9) 55%,
    rgba(255, 234, 0, 0.8) 100%
  );
  background-size: 200% auto;
  background-position: right center;
  transition: all 0.8s ease;
  border: none;
}
#contacts{
  margin-bottom: 50px;
}
#contacts{
  position: relative;
}
#contacts::before{
  content: "";
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(180deg, #1e2124 5%, #181f24 100%);
  transform: translate(0px, -100%);
}
.contact-text{
  display: block;
  font-weight: 600;
  color:var(--main-color);
  margin-bottom: 30px;
}
.contact-text:hover{
  cursor: pointer;
  color: var(--second-color);
  transition: 0.6s ease-in-out;
}

